    
*{
    padding:  0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/*Css para el header*/  
header {
    display: flex;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 7px 3%;
    background: transparent;
  }
  
  .clima {
    text-align: right;
  }

.espacios{
    color: #ffffff;
}
/*Css del nav*/
nav{
    display: flex;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 3%;
    background: transparent;
}
/*Css para los links del navbar*/
a:visited{
    color: #0000;
}

a:link{
    text-decoration: none;
    color: black;

}

a:visited{
    color: #0000;
}

section{
    padding: 0 3%;
}
/*titulo que dice "noticia mas relevantes"*/
.relevantes-parrafos {
    display: flex;
    justify-content: space-between;
  }
  
  .relevantes-parrafos .Noticia1,
  .relevantes-parrafos .Noticia2,
  .relevantes-parrafos .Noticia3 {
    width: 30%;
  }
  
  .relevantes-parrafos img {
    display: block;
    height: 148px;
    width: 225px;
  }
  
  .relevantes-parrafos h4 {
    font-weight: 600;
  }
  
  .relevantes-parrafos p {
    margin-top: 0;
  }

  footer{
    width: 146px;
    height: 66px;
    left: 39px;
    top: 360px;
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
}

.footer-notext{
    text-decoration: none;
}